.button {
    background-image: linear-gradient(deepskyblue, dodgerblue);
    border: none !important;
}

.button:active:focus,
.button:focus:hover,
.button:focus {
    outline: medium none !important;
    background-color: #4274D7;
}

.button:disabled {
    pointer-events: none;
    background-color: darkgrey !important;
    background-image: none;
}

.button:hover {
    cursor: pointer;
    background-image: linear-gradient(dodgerblue, rgba(25, 64, 255, 0.71));
}

.button-upload {
    border-top: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-left: 1px solid lightblue;
    border-radius: unset !important;
}

.button-utility {
    color: grey !important;
}

.button-utility:hover {
    color: #676565 !important;
    background-color: #add8e638;
    border-radius: unset !important;
}
