small {
    color: #545454;
}

.form {
    background-color: white;
    border-radius: 20px;
    height: auto;
    padding: 20px;
    margin: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.66), 0 15px 12px rgba(22, 22, 22, 0.3)
}

.form .form-header {
    font-size: 30px;
}

.text-area {
    color: black !important;
    font-weight: 500;
    border-top: 1px solid lightblue !important;
    border-left: 1px solid lightblue !important;
    border-right: 1px solid lightblue !important;
    font-size: 13px !important;
    box-sizing: border-box !important;
    min-height: 35vh !important;
    resize: none !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: unset !important;
}

.image-area {
    border-bottom: 1px solid lightblue;
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;
    max-height: 15vh;
    min-height: 15vh;
    overflow: auto;
    padding: 0 15px;
}

@media only screen and (max-width: 570px) {
    .form {
        margin: 10px;
    }

    .form .form-header {
        font-size: 20px;
    }
}

@media only screen and (max-width: 370px) {

    small {
        font-size: 65% !important;
    }
}