.del
{
    position:absolute;
    top: 6px;
    right: 8px;
    padding: 5px 7px;
    text-align:center;
    background-color: #a099998f;
    border-radius: 30px;
    cursor:pointer;
    color: white;
    z-index: 2;
}